
# Игнорировать папки и их содержимое
/.ipynb_checkpoints/
/.prefect/
/__pycache__/
/mlruns/1/
/pytest_cache/
/mlruns/
/Others/

# Игнорировать файлы
.prefectignore
commands.txt
alternative_models.txt
configure list-profiles